body {
    margin: 0px;
}

section.panel_wrapper {
    flex-direction: row;
    min-height: 700px;
    display: flex;
    background-color:$bg-color;
    .left_panel {
        position: static;
        justify-content: space-between;
        min-height: 750px;
        height: 100vh;
        flex: 1 0 384px;
        background-image:url("/media/feesh.jpg");
        background-position:70%;
        background-size:180% auto;
        background-repeat:no-repeat;
        -webkit-clip-path: polygon(93% 0, 99% 24%, 94% 42%, 100% 70%, 93% 100%, 0 100%, 0 0);
        clip-path: polygon(93% 0, 99% 24%, 94% 42%, 100% 70%, 93% 100%, 0 100%, 0 0);
    }
    .right_panel {
        min-height: 750px;
        height: 100vh;
        flex: 1 0 384px;
    }
}
