body {
    margin: 0px;
}

section.panel_wrapper {
    flex-direction: row;
    min-height: 700px;
    display: flex;
    .left_panel {
        position: static;
        justify-content: space-between;
        min-height: 750px;
        height: 100vh;
        flex: 1 0 384px;
        background-color:orange;
    }
    .right_panel {
        min-height: 750px;
        height: 100vh;
        flex: 1 0 384px;
    }
}
